<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Eventbrite.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Eventbrite.My.MySettings>
            <setting name="EvntToken" serializeAs="String">
                <value />
            </setting>
            <setting name="EntEnvType" serializeAs="String">
                <value>Staging</value>
            </setting>
            <setting name="EntEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="EntPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="EntCreateBP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EntDefaultBP" serializeAs="String">
                <value />
            </setting>
            <setting name="EntIncludeFee" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EvntIgnoreImported" serializeAs="String">
                <value>False</value>
            </setting>
        </Eventbrite.My.MySettings>
    </userSettings>
</configuration>